.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-bottom: 30px;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    background-color: rgba(44, 42, 42, 0.8);
    border-radius: 20px;
  }
}
